/* Default styles */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
  font-size: 62.5%;

}

*{
  margin: auto;
  padding: auto;

}


body{
  font-family: 'Bebas Neue', sans-serif;
  overflow-x: hidden;
 
}

.footer-cta1{
 
    position: relative;
    background-color: #e0701d;
    
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    top: -9%;
    left: -4%;

}
.footer-cta1:hover{

}

.cta-text:hover{
  color: #fafafa;
  
  
}
.nav-btn{
  width: 2rem;
  border: 2px solid green;
  background-color: #e0701d;;
  color: #fafafa;
}

.navbar{
  margin: 0;
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;

  z-index: 100;
  
}

.navlogo{
  margin: 0;
  margin-right: auto;
  width: 200px;

}

.nav-items{
  margin : 0;
  margin-top: 2rem;
  display: inline;
  
}

.nav-item{
  display: inline;
  margin: 0;
  margin-right: 5rem;
  font-size: 3rem;
  color: black;
  text-decoration: none;
}

.nav-item a{
  color: black;
  text-decoration: none;
}

.nav-item:hover{
  color: #e0701d;
}

.nav-item a:hover{
  color: #e0701d;
}

/* Responsive styles */
@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
  .cta-text {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
}

.footer-cta1 {
  position: initial;
  background-color: #e0701d;
  border: none;
  padding: 3px 8px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  top: -9%;
  left: -9%;
  left: -5%;
  margin-bottom: 4px;
}


  .navlogo{
  margin: auto;
  }

  .nav-items {
    flex-direction: row;
    margin: auto;
    padding: 0rem 0px 0px 0px;
  }

  .nav-item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  .menu-toggle-btn {
    display: block;
    width: 30px;
    height: 30px;
    background: #000;
    cursor: pointer;
  }

  .menu-toggle-btn::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 5px;
    width: 20px;
    height: 3px;
    background: #fff;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked ~ .nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
